* {
	font-family: "Lucida Grande";
}

#gameContainer {
	width: 600px;
}

.card {
	background-color: hsl(150, 80%, 60%);
	color: white;
	width: 130px;
	height: 130px;
	float: left;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
	transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: 0.3s;
  -webkit-transition: 0.3s;
}

.card.flipped {
	transform: rotatex(-180deg);
	-ms-transform: rotatex(-180deg);
  -webkit-transform: rotatex(-180deg);
}

.card .face {
  -backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  z-index: 2;
  text-align: center;
  line-height: 200px;
}
.card .front {
  position: absolute;
  z-index: 1;
}
.card .back {
	transform: rotatex(-180deg);
	-ms-transform: rotatex(-180deg);
  -webkit-transform: rotatex(-180deg);
  margin: -5px;
  width: 100%;
  height: 100%;
  background-color: hsl(150, 80%, 40%);
}

#newGame {
	width: 120px;
	padding: 10px;
	margin: 5px;
	text-align: center;
	background-color: black;
	color: white;
	display: inline-block;
}

#newGame:hover {
	color: hsl(150, 80%, 60%);
	cursor: pointer;
}